@import "compass/css3";

.container {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.buttons {
  display: block;
  overflow: hidden;
  text-align: center;

  a {
    height: 65px;
    width: 97%;
    display: block;
    cursor: pointer;
  	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
  	font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    vertical-align: middle;
    @include border-radius(5px);

    span {
      font-size: 19px;
      font-weight: bold;
      display: block;
      margin: 14px 0 3px 0;
    }
  }

  a.yes-button {
    color: $darkGreen;
    @include green-button;
    border: 1px solid $darkGreen;
    margin: 0 0 10px 0;
    @include single-box-shadow(0 0 25px rgba(blue, 0.4));
    
    &:hover {
      @include green-hover-button;
      border: 1px solid $darkGreen;
      text-decoration: none;
    }
  }

  a.no-button {
    color: $darkGrey;
    @include grey-button;
    border: 1px solid $darkGrey;
    
    &:hover {
      color: $wineRed;
      @include red-button;
      border: 1px solid $wineRed;
      text-decoration: none;
    }
  }

}


@media (max-width: 480px) {

  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-right: 10px;
    padding-left: 10px;
  }
  .modal {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  
  .buttons {

    a {
      width: 97%;
    }

  }

}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .container {
    width: auto;
  }
  
  .buttons {

    a {
      width: 97%;
    }

  }

}

@media (min-width: 768px) and (max-width: 979px) {

  .buttons {

    a {
      width: 97%;
    }

  }


}

@media (min-width: 1200px) {
  .container {
  	width: 66%;
  	max-width: 600px
  }

  .register-bar form input[type=text] {
  	height: 35px
  }

  .register-bar form button[type=submit] {
  	height: 46px
  }
  
  .center {
    margin-right: auto;
    margin-left: auto;
    width: 66%;
  }
  
  .buttons {
    display: block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    a {
      height: 65px;
      width: 174px;
      display: block;
      float: left;
      cursor: pointer;
    	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    	font-size: 13px;
      line-height: 16px;
      text-decoration: none;
      vertical-align: middle;
      @include border-radius(5px);

      span {
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin: 14px 0 3px 0;
      }
    }

    a.yes-button {
      color: $darkGreen;
      @include green-button;
      border: 1px solid $darkGreen;
      margin: 0 16px 0 0;
      
      &:hover {
        @include green-hover-button;
        border: 1px solid $darkGreen;
        text-decoration: none;
      }
      
      &:active {
        background-color: $medGreen;
        background-color: $medGreen \9;
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
           -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      }
    }

    a.no-button {
      color: $darkGrey;
      @include grey-button;
      border: 1px solid $darkGrey;
      
      &:hover {
        color: $wineRed;
        @include red-button;
        border: 1px solid $wineRed;
        text-decoration: none;
      }
      
      &:active {
        background-color: $darkRed;
        background-color: $darkRed \9;
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
           -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      }
      
    }

  }
}
